@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.text-effect .link {
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #e0e0e0;
  font-family: sans-serif;
  font-weight: 600;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}

.text-effect .link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #8a8a8a;
  border-bottom: 2px solid #8a8a8a;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}

.text-effect .link:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

.text-effect .link:hover {
  color: #41e1db;
}

.text-effect .link:hover:before {
  transform: scaleY(1);
  opacity: 1;
  border-color: #f0f0f0;
}

.text-effect .link:hover:after {
  transform: scaleY(1);
  opacity: 1;
  border-color: #222;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromLeft 0.5s ease-out forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Main container for all project cards */
.data-container {
  position: relative;
}

/* Individual content box */
.content_box {
  position: relative;
  overflow: hidden;
  transition: opacity 0.3s ease; /* Add transition for smooth dimming */
}

/* Image inside content box */
.content_box img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

/* Zoom effect on hover */
.content_box:hover img {
  transform: scale(1.1); /* Zoom effect */
}

/* Description box initially hidden */
.project_desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 20px;
}

/* Show description on hover */
.content_box:hover .project_desc {
  opacity: 1;
}

/* Text styling inside project description */
.project_desc h3 {
  font-size: 2rem;
  color: black;
}

.project_desc .desc {
  font-size: 1rem;
  color: black;
}

/* Dimming other content boxes when one is hovered */
.data-container:hover .content_box {
  opacity: 0.3; /* Dim all content boxes */
}

/* Keep the hovered content box fully visible */
.content_box:hover {
  opacity: 1 !important;
  border: 2px solid #41e1db;
}
